# BTC node info
btc_node_host: "127.0.0.1:8790"
btc_node_usr: "hashtest"
btc_node_pass: "qwgsfdhrtytbvcbsfdslo"
btc_http_mode: true
btc_disable_tls: true

# Ethereum node info
eth_rpc_ws: "ws://localhost:8546"

# new wallet server
new_wallet_server_host: "ip:port"
new_wallet_server_user: "user"
new_wallet_server_pass: "pass"

# btc wallet server info
old_btc_wallet_server_host: "ip:port"
old_btc_wallet_server_user: "test_user"
old_btc_wallet_server_pass: "tes_pass"

# Ethereum wallet info
old_eth_wallet_server_host: "ip:port"
old_eth_wallet_server_user: "test_user"
old_eth_wallet_server_pass: "tes_pass"
keystore_path: "ks/path"
ks_pass: "ks_pass"

api_assets: ["btc", "eth"]

wallet_core_rpc_url: "localhost:8080"

eth_token:
  "abb": "0x9ac793a28d5207ce2ddd41542dbf5363d68324a8"
  "aaa": "0x9ac793a28d5207ce2ddd41542dbf5363d68324a8"

confirmations:
  "btc": 6

db_mysql: "username:password@tcp(hostname:port)/dabase_name"
