# BTC node info
btc_node_host:  "192.168.12.101:83323"
btc_node_usr:   "btcrpc"
btc_node_pass:  ""
btc_http_mode:  true
btc_disable_tls: true

# Ethereum wallet info
old_eth_wallet_server_host: "192.168.12.101:22"
old_eth_wallet_server_user: "root"
old_eth_wallet_server_pass: ""
keystore_path: "/home/eth/privnet/data1/keystore"
ks_pass: ""

# new wallet server
new_wallet_server_host: "192.168.12.101:22"
new_wallet_server_user: "root"
new_wallet_server_pass: ""

# btc wallet server info
old_btc_wallet_server_host: "192.168.12.100:22"
old_btc_wallet_server_user: "root"
old_btc_wallet_server_pass: ""

# Omnicore node info
omni_node_host:  "192.168.12.101:8434"
omni_node_usr:   "btcrpc"
omni_node_pass:  ""
omni_http_mode:  true
omni_disable_tls: true

# Ethereum node info
eth_rpc: "http://127.0.0.1:8545"

# EOSIO node info
eosio_rpc: "http://192.168.12.101:8887"

wallet_core_rpc_url: "localhost:50051"

chains:
    bitcoin:
        confirmations: 2
        coin: "BTC"
        tokens:
            "omni_first_token": "2147483651"
    ethereum:
        confirmations: 2
        coin: "ETH"
        tokens:
            "aaa": "0x9ac793a28d5207ce2ddd41542dbf5363d68324a8"
    eosio:
        confirmation: 2
        coin: "EOS"
        tokens:
            "eos": "eosio.token"
        accounts:
            "eosaccount": "EOS8QKrsDdC6fLwvDwQvGh59PF7FmpCP8y5vu6KpYpXDwy4mQbwuy"

db_mysql_host: "localhost:32769"
db_mysql_user: "root"
db_mysql_pass: "12345678"
db_mysql_name: ""
